<app-timer-manual (eventTimerFinalizado)="onTimerNovo($event)"></app-timer-manual>

<div class="row mt-5 no-gutters ">
    <div class="col-2 seta">
       {{ dataTimer }}
    </div>
    <div class="col">
        <button type="button" class="btn btn-sm btn-link" (click)="diasAnteriores()" >
            <i class="seta angle-double-left fas fa-angle-double-left"></i>
        </button>
        <span style=" margin-left: 15px"></span>
        <button type="button" class="btn btn-sm btn-link" (click)="proximosDias()" >
            <i class="seta angle-double-right fas fa-angle-double-right"></i>
        </button>
        <button type="button" class="btn btn-sm" [hidden]="dataDiferenteAtual" (click)="irDiaAtual()" 
             style="margin-left: 15px;margin-bottom:5px">
            Hoje
        </button>
        
    </div>
</div>

<div class="secaoTarefas input-style">
    <div class="row secaoLinhaTarefa "  *ngFor="let timer of timerList; let ix=index">
        <div class="col secaoDescricaoTimer">
            <span class="" title="asdasdsad">{{ timer.descricao }}</span>
        </div>
        <div class="col ">
            <textarea placeholder="Notas" class=" nota" rows="1" cols="2" [(ngModel)]="timer.nota" (blur)="atualizaContador(timer)">{{ timer.nota }}</textarea>
        </div>
        <div class="row secaoTempos ">
            <div class="secaoContador">
                <input type="text" class="tempos contador" [(ngModel)]="timer.contador" (blur)="atualizaContador(timer)"  >
            </div>
            <div class="hora-inicio">
                <input type="text" class="tempos " readonly [value]="timer.inicio | date:'HH:mm'">
            </div>
            <span style="line-height: 4em;">-</span>
            <div class="hora-fim">
                <input type="text" class="tempos" readonly [value]="timer.fim | date:'HH:mm'">
            </div>
            <button (click)="startTarefa(timer)"
                 [class.btn-danger]="timer.tempoCorrendo" 
                 [class.btn-outline-success]="!timer.tempoCorrendo"
                 class="botaoPlay btn " >
                    <i [class.fa-play]="!timer.tempoCorrendo"
                       [class.fa-stop]="timer.tempoCorrendo" 
                       class="icon-play fas "></i>
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col secao-total text-align-right">
            <div class="label-total" [hidden]="timerList.length == 0">
                TOTAL {{ totalHorasDiario() }}
            </div>
        </div>
    </div>
    
</div>