<app-timer-manual></app-timer-manual>



<div class="secaoTarefas mt-5 input-style">
    <div class="row secaoLinhaTarefa ">
        <div class="col secaoDescricaoTimer">
            <span class="" title="asdasdsad">tegdfgdfgdfgfdgdfgdfgddfgfdgdfgdfgdfgdfgdffgdfgdste</span>
        </div>
        <div class="col ">
            <textarea placeholder="Notas" class=" nota" rows="1" cols="2"></textarea>
        </div>
        <div class="row secaoTempos ">
            <div class="secaoContador">
                <input type="text" class="tempos contador" value="10m 50s">
            </div>
            <div class="hora-inicio">
                <input type="text" class="tempos " value="10:00">
            </div>
            <span style="line-height: 4em;">-</span>
            <div class="hora-fim">
                <input type="text" class="tempos" value="11:00">
            </div>
            <div class="botaoPlay btn btn-outline-success">
                <i class="icon-play fas fa-play"></i>
            </div>
        </div>
    </div>
    <div class="row secaoLinhaTarefa">
        <div class="col secaoDescricaoTimer">
            <span class="" title="asdasdsad">tegdfgdfgdfgfdgdfgdfgddfgfdgdfgdfgdfgdfgdffgdfgdste</span>
        </div>
        <div class="col ">
            <textarea placeholder="Notas" class=" nota" rows="1" cols="2"></textarea>
        </div>
        <div class="row secaoTempos">
            <div class="secaoContador">
                <input type="text" class="tempos contador" value="10m 50s">
            </div>
            <div class="hora-inicio">
                <input type="text" class="tempos " value="10:00">
            </div>
            <span style="line-height: 4em;">-</span>
            <div class="hora-fim">
                <input type="text" class="tempos" value="11:00">
            </div>
            <div class="botaoPlay btn btn-outline-success">
                <i class="icon-play fas fa-play"></i>
            </div>
        </div>
    </div>
    <div class="row secaoLinhaTarefa">
        <div class="col secaoDescricaoTimer">
            <span class="" title="asdasdsad">tegdfgdfgdfgfdgdfgdfgddfgfdgdfgdfgdfgdfgdffgdfgdste</span>
        </div>
        <div class="col ">
            <textarea placeholder="Notas" class="nota" rows="1" cols="2"></textarea>
        </div>
        <div class="row secaoTempos">
            <div class="secaoContador">
                <input type="text" class="tempos contador" value="10m 50s">
            </div>
            <div class="hora-inicio">
                <input type="text" class="tempos " value="10:00">
            </div>
            <span style="line-height: 4em;">-</span>
            <div class="hora-fim">
                <input type="text" class="tempos" value="11:00">
            </div>
            <div class="botaoPlay btn btn-outline-success">
                <i class="icon-play fas fa-play"></i>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col secao-total text-align-right">
            <div class="label-total">
                TOTAL
            </div>
            <div class="duracao-total">
                5h 40m
            </div>
            <div class="inicio-total">
                10:00
            </div>
            <div class="fim-total">
                18:10
            </div>
        </div>
    </div>
</div>